<div class="page">

    <div class="header">
        <h1>Toplis Level Luffing Crane Simulator</h1>
    </div>

    <div class="content">
        <div class="g-row">
            <div class="g-col settings">

                <div class="form-item">
                    <label>OB (mm)</label>
                    <p-spinner [(ngModel)]="dOB" [min]="1" [max]="2000" [step]="1" (onChange)="onSettingsChange()"></p-spinner>
                </div>

                <div class="form-item">
                    <label>AB (mm)</label>
                    <p-spinner [(ngModel)]="dAB" [min]="1" [max]="500" [step]="1" (onChange)="onSettingsChange()"></p-spinner>
                </div>

                <div class="form-item">
                    <label>AC (mm)</label>
                    <p-spinner [(ngModel)]="dAC" [min]="1" [max]="500" [step]="1" (onChange)="onSettingsChange()"></p-spinner>
                </div>

                <div class="form-item">
                    <label>OE (mm)</label>
                    <p-spinner [(ngModel)]="pD.x" [min]="-100" [max]="200" [step]="1" (onChange)="onSettingsChange()"></p-spinner>
                </div>

                <div class="form-item">
                    <label>ED (mm)</label>
                    <p-spinner [(ngModel)]="pD.y" [min]="0" [max]="500" [step]="1" (onChange)="onSettingsChange()"></p-spinner>
                </div>

                <div class="form-item">
                    <label>Nb Ropes</label>
                    <p-spinner [(ngModel)]="nbRopes" [min]="1" [max]="15" [step]="1" (onChange)="onSettingsChange()"></p-spinner>
                </div>


                <div class="form-item">
                    <label>Angle Min (low)</label>
                    <p-spinner [(ngModel)]="rMin" [min]="0" [max]="90" [step]="1" (onChange)="onSettingsChange()"></p-spinner>
                </div>

                <div class="form-item">
                    <label>Angle Max (high)</label>
                    <p-spinner [(ngModel)]="rMax" [min]="0" [max]="90" [step]="1" (onChange)="onSettingsChange()"></p-spinner>
                </div>
            </div>

            <div class="g-col slider">
                <p-slider [(ngModel)]="r" [min]="rMin" [max]="rMax" [step]="1" orientation="vertical" (onChange)="onAngleChange()"></p-slider>
                <!-- <label>Angle</label> -->
            </div>

            <div class="g-col crane">
                <canvas #canCrane class="can-crane" width="600" height="600"> </canvas>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>