<div class="container">

    <div class="settings-panel">
        <div class="form-item">
            <label>OA (mm)</label>
            <p-spinner [(ngModel)]="dOA" [min]="1" [max]="2000" [step]="1" (onChange)="onSettingsChange()"></p-spinner>
        </div>

        <div class="form-item">
            <label>AB (mm)</label>
            <p-spinner [(ngModel)]="dAB" [min]="1" [max]="500" [step]="1" (onChange)="onSettingsChange()"></p-spinner>
        </div>

        <div class="form-item">
            <label>BC (mm)</label>
            <p-spinner [(ngModel)]="dBC" [min]="1" [max]="500" [step]="1" (onChange)="onSettingsChange()"></p-spinner>
        </div>

        <div class="form-item">
            <label>OE (mm)</label>
            <p-spinner [(ngModel)]="pD.x" [min]="-100" [max]="200" [step]="1" (onChange)="onSettingsChange()"></p-spinner>
        </div>

        <div class="form-item">
            <label>ED (mm)</label>
            <p-spinner [(ngModel)]="pD.y" [min]="0" [max]="500" [step]="1" (onChange)="onSettingsChange()"></p-spinner>
        </div>

        <div class="form-item">
            <label>Angle Min (low)</label>
            <p-spinner [(ngModel)]="rMin" [min]="0" [max]="90" [step]="1" (onChange)="onSettingsChange()"></p-spinner>
        </div>

        <div class="form-item">
            <label>Angle Max (high)</label>
            <p-spinner [(ngModel)]="rMax" [min]="rMin" [max]="90" [step]="1"></p-spinner>
        </div>
    </div>

    <div class="slider-panel">
        <p-slider styleClass="slider" [(ngModel)]="r" [min]="rMin" [max]="rMax" [step]="1" orientation="vertical" (onChange)="onAngleChange()"></p-slider>
    </div>

    <div class="crane-panel">

        <canvas #canCrane class="can-crane" width="600" height="600"> </canvas>
    </div>

</div>




<router-outlet></router-outlet>