.page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .header {
        margin-bottom: 15px;
        margin-left: 50px;
    }
}

.header {
    width: 100%;
    z-index: 1;
    font: 17px arial, sans-serif;

    h3 {
        margin-bottom: 8px;
    }

    a:hover {
        text-decoration: underline;
    }
}

.content {
    overflow: auto;
    display: flex;
}

$line-height: 21px;
$default-height: 25px;

.form-item {
    margin-top: 3px;

    > label {
        float: left;
        width: 150px;
        padding-right: 8px;
        line-height: $line-height;
        text-align: right;
    }

    .ui-spinner-input.ui-inputtext {
        max-width: 80px;
        max-height: $default-height;
        text-align: right;
    }
}

.settings {
    flex: 0 0 230px;
}

.crane {
    flex: 0 1 600px;
    margin: 0 10px 0 10px;
}

.slider {
    flex: 0 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

    > label {
        margin: 12px;
        color: red;
    }

    > p-slider {
        flex: 1;
    }

    .ui-slider.ui-slider-vertical {
        background-color: lightblue;
        height: 100%;
    }
}

// workaround for Firefox : do not show arrows on input/number as primeng spinner already shows its own arrows.
// https://stackoverflow.com/questions/23372903/hide-spinner-in-input-number-firefox-29
input[type="number"] {
    -moz-appearance: textfield; // For FireFox

    // For Webkits like Chrome and Safari (actually this is not necessary)
    // &::-webkit-inner-spin-button {
    //   -webkit-appearance: none;
    //   margin: 0;
    // }
}
